.navbar-custom {
  background-color: #2C3D55 !important;
}

.active {
  color: lightgray !important;
}

.card {
  background-color: #3e4c5e;
}

body {
  margin: 0px;
  background-color: #536271;
  color: white;
  padding: 0;
  width: 100%;
  right: 0;
}

.body{
  padding-left: 1%;
  padding-right: 1%;
}
.spacing-right {
  margin-right: 2% !important;
}

#dropdown {
  border-color: white !important;
}

.navbar .navbar-collapse {
  text-align: center;
  right:0;

}

.g-signin2{
  width: 100%;
}

.g-signin2 > div{
  margin: 0 auto;
}

#signout {
  display: none;
} 

.user-label{
	width: 20% !important;
  margin-right: 5% !important;
}

.form-control {
  width: 70% !important;
}

.form-inline {
  text-align: center !important;
}

.nav-item {
  margin-left: 5px;
  margin-right: 5px;
}

.input-group {
  padding: 1% !important;
}
.jumbotron {

  width: 100%;
}

.jumbotron-text {
  padding: 1% !important;
}

.no-padding {
  padding: 0 !important;
}

.runover-row {
  margin: 0 !important;
}

.household-dropdown {
  justify-content: flex-end !important;
}

.jumbotron-user {
  background-position: center; 
  background-size: contain; 
  background-repeat: no-repeat;
}

.mobile-row {
  margin: 0;
}